{% extends 'base.html' %}
{% block title %}
	Confirm Delete Member
{% endblock %}
{% block content %}
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Confirm Delete Member</h1>
        <p>Are you sure you want to delete the news titled "{{ member.memeber_name }}"? This action cannot be undone.</p>
        <form action="{% url 'members-delete' member.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'members-list' %}" class="btn btn-info">Cancel</a>
        </form>
    </div>
{% endblock %}