{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ news.news_title }}
{% endblock %}

{% block content %}
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>{{ news.news_title }}</h1> <h4>{{ news.news_date }}</h4><span class="badge bg-info">{{ news.news_views_count }}</span>
        <h3>Author:{{ news.news_author }}</h3>
            {% if user == news.news_author %}
            	<button type="button" class="btn btn-warning"><a href="{% url 'update_news' news.pk %}" class="text-white">Edit News</a></button>
                <button type="button" class="btn btn-danger"><a href="{% url 'delete_news' object.pk %}" class="text-white">Delete News</a></button>
            {% endif %}
    <div class="container">
        <h3>
            <b>{{ news.news_description|safe }}</b>
        </h3>
    </div>
        <img src="{% static news.news_image %}" alt="News_image">
    <div class="container">{{ news.news_content|safe }}</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}