{% extends 'base_login.html' %}
{% load static %}

{% block title %}
	Change password page
{% endblock %}

{% block content %}
    	<div class="main-w3layouts wrapper">
		<h1>Change user password</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                </form>
            <input type="submit" value="Change password" class="btn btn-success mt-3">
            </div>
        </div>
        </div>
{% endblock %}
