{% extends 'base_login.html' %}
{% load static %}

{% block title %}
	Email confirm page
{% endblock %}

{% block content %}
    	<div class="main-w3layouts wrapper">
		<h1>Please Send Your email</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="email" name="email">
                    <input type="submit" value="Send" class="btn btn-success mt-3">
                </form>
            </div>
        </div>
        </div>
{% endblock %}
