{% extends 'base_login.html' %}
{% block title %}
    Email yuborildi
{% endblock title %}
{% block content %}
    	<div class="main-w3layouts wrapper">
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <div class="container">
                        <h2 class="m-5 text-center">Pochtangizni tekshiring, parolni tiklash uchun qo'llanma yuborildi</h2>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}